<div class="about-container">
    <h1>About</h1>
    <p>ScrapMeal is a simple app created by Alex Hartle designed to help you get creative in the kitchen. 
        It's meant to resemble a certain cooking competition show that for legal purposes will not be named.
    </p>
    <h3>How does it work?</h3>
    <p>Good question! ScrapMeal has two modes: Challenge Mode and Pantry Mode.</p>
    <h4>Challenge Mode</h4>
    <p>
        In challenge mode, you're given 
        four random ingredients with which you are to make a meal. The rest is up to you!
        If you feel stuck, you can hit the "Give me a hint!" button and get some ideas for your recipe. 
        Once you're done cooking, come back and store your recipe for later reference.
    </p>
    <h4>Pantry Mode</h4>
    <p>
        Pantry mode is meant to help you remedy a familiar situation to everyone: it's Thursday night, 
        you know you shouldn't Doordash, and you're at home with some leftover ground beef from making
        hamburgers, arugula, basil that's rapidly going bad, and a papaya. Why do you have a papaya? 
        And more importantly, what are you going to do with it? Easy. Put your ingredients into ScrapMeal's 
        pantry mode, tell it how many recipe options you want, and get to work!
    </p>
    <h3>Why does it look like this?</h3>
    <p>Good question! Alex Hartle is a full-stack developer and not a designer. His talent for visual aesthetics
        is basically non-existent, despite having many talented people in his family. Go figure.
    </p>
</div>