<div style="margin-top: 20px">
    <div class="bar">
        <button>
            <a routerLink="/" routerLinkActive="Active">Home</a>
        </button>
        <button>
            <a routerLink="/challenge" routerLinkActive="Active">Challenge Mode</a>
        </button>
        <button>
            <a routerLink="/pantry" routerLinkActive="Active">Pantry Mode</a>
        </button>
        <button>
            <a routerLink="/about" routerLinkActive="Active">About</a>
        </button>
    </div>
</div>